.navbar {
    background-color: rgba(240, 248, 255, 0);
    position: absolute; 
    z-index: 1; 
    width: 100%;
}
.form-control{
    float: right;
    /* margin-top: 10px; */
    margin-right: 20px;
    width: 400px;
}
.btn{
    float: right;
    background-color: blue;
    color: white;
    /* margin-top: 1px; */
}