<div class="container">
    <div class="row">
        <div class="column-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Verify Yourself!!</h1>
                </div>
                <form>
                    <form [formGroup]= "verifyForm" (ngSubmit)="verify()">
                        <div class="form-group">
                          <label for="voterID" class="form-label">VOTER ID</label>
                          <input formControlName="voterID" type="String" name="voterID" ngModel class="form-control" id="exampleInputEmail1" aria-describedby="voterID" placeholder="Enter Your VOTER ID">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2" style="margin-bottom: 15px;">Send OTP</button>
                        <div class="form-group">
                          <label for="OTP" class="form-label">Enter OTP</label>
                          <input formControlName="password" type="password" name="password" ngModeL class="form-control" id="exampleInputPassword1" placeholder="Enter the OTP">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Verify</button>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>