<ngb-carousel (slide)="slideActivate($event)">
    <ng-template ngbSlide id="firstSlide">
      <div class="picsum-img-wrapper">
        <img src="../../../../../assets/img/slide1.png" alt="Angular Carousel 1">
      </div>
    </ng-template>
    <ng-template ngbSlide id="secondSlide">
      <div class="picsum-img-wrapper">
        <img src="../../../../../assets/img/slide2.jpg" alt="Angular Carousel 2">
      </div>
    </ng-template>
    <ng-template ngbSlide id="thirdSlide">
        <div class="picsum-img-wrapper">
          <img src="../../../../../assets/img/slide4.jpg" style="height: 225px;" alt="Angular Carousel 3">
        </div>
      </ng-template>
  </ngb-carousel>
  
